/****** Object:  Database [CINEMA]    Script Date: 17/03/2026 13:33:34 ******/
CREATE DATABASE [CINEMA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CINEMA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BANGTHANH\MSSQL\DATA\CINEMA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CINEMA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BANGTHANH\MSSQL\DATA\CINEMA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CINEMA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  User [RemoteUser]    Script Date: 17/03/2026 13:33:34 ******/
CREATE USER [RemoteUser] FOR LOGIN [RemoteUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Main]    Script Date: 17/03/2026 13:33:34 ******/
CREATE USER [Main] FOR LOGIN [Main] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [RemoteUser]
GO
ALTER ROLE [db_owner] ADD MEMBER [Main]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Auditoriums]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoriums](
	[AuditoriumId] [int] IDENTITY(1,1) NOT NULL,
	[TheaterId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[SeatRows] [int] NULL,
	[SeatCols] [int] NULL,
	[ScreenType] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditoriumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combos]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combos](
	[ComboId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](200) NULL,
	[Price] [decimal](10, 2) NULL,
	[ImageUrl] [nvarchar](300) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ComboId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboShowtimes]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboShowtimes](
	[ComboId] [int] NOT NULL,
	[ShowtimeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComboId] ASC,
	[ShowtimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[BirthDate] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[CreatedAt] [datetime] NULL,
	[LastLogin] [datetime] NULL,
	[Address] [nvarchar](255) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[Region] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenres]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenres](
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Duration] [int] NULL,
	[TrailerUrl] [nvarchar](300) NULL,
	[PosterUrl] [nvarchar](300) NULL,
	[ReleaseDate] [date] NULL,
	[Language] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[AgeRating] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderCombos]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderCombos](
	[OrderComboId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ComboId] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderComboId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[PaymentMethod] [nvarchar](30) NULL,
	[TotalAmount] [decimal](12, 2) NULL,
	[CreatedAt] [datetime] NULL,
	[PaidAt] [datetime] NULL,
	[TicketTotal] [decimal](18, 2) NULL,
	[ComboTotal] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Popups]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Popups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[ButtonLink] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatId] [int] IDENTITY(1,1) NOT NULL,
	[AuditoriumId] [int] NULL,
	[RowLabel] [nvarchar](5) NULL,
	[SeatNumber] [int] NULL,
	[SeatType] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtimes]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtimes](
	[ShowtimeId] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NULL,
	[AuditoriumId] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[BasePrice] [decimal](10, 2) NULL,
	[Language] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowtimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theaters]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theaters](
	[TheaterId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[GoogleMapUrl] [nvarchar](300) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TheaterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketCombos]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketCombos](
	[TicketId] [int] NOT NULL,
	[OrderComboId] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC,
	[OrderComboId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 17/03/2026 13:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[ShowtimeId] [int] NULL,
	[SeatId] [int] NULL,
	[CustomerId] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Status] [nvarchar](20) NULL,
	[BookedAt] [datetime] NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[OrderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminId], [FullName], [Email], [PasswordHash], [Phone], [CreatedAt], [LastLogin]) VALUES (2, N'Nguyễn Thị Băng Thanh', N'Admin1@gmail.com', N'12345', N'1234567890', CAST(N'2025-09-26T21:59:32.290' AS DateTime), CAST(N'2026-03-17T02:47:41.557' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Auditoriums] ON 

INSERT [dbo].[Auditoriums] ([AuditoriumId], [TheaterId], [Name], [SeatRows], [SeatCols], [ScreenType], [IsActive]) VALUES (2, 2, N'Rạp 2', 7, 12, N'2D', 1)
INSERT [dbo].[Auditoriums] ([AuditoriumId], [TheaterId], [Name], [SeatRows], [SeatCols], [ScreenType], [IsActive]) VALUES (3, 2, N'Rạp 1', 7, 12, N'2D', 1)
INSERT [dbo].[Auditoriums] ([AuditoriumId], [TheaterId], [Name], [SeatRows], [SeatCols], [ScreenType], [IsActive]) VALUES (4, 2, N'Rạp 3', 10, 15, N'2D', 1)
SET IDENTITY_INSERT [dbo].[Auditoriums] OFF
GO
SET IDENTITY_INSERT [dbo].[Combos] ON 

INSERT [dbo].[Combos] ([ComboId], [Name], [Description], [Price], [ImageUrl], [IsActive]) VALUES (1, N'Bắp ', N'1 Bắp Caramel 64OZ', CAST(36000.00 AS Decimal(10, 2)), N'https://www.caboocup.com/wp-content/uploads/2024/08/ly-giay-dung-bap-rang-bo-2.webp', NULL)
INSERT [dbo].[Combos] ([ComboId], [Name], [Description], [Price], [ImageUrl], [IsActive]) VALUES (2, N'COKE ', N'32OZ', CAST(37000.00 AS Decimal(10, 2)), N'https://api-website.cinestar.com.vn/media/.thumbswysiwyg/pictures/HinhQuayconnew/coca.png?rand=1719572301', NULL)
INSERT [dbo].[Combos] ([ComboId], [Name], [Description], [Price], [ImageUrl], [IsActive]) VALUES (3, N'Fanta', N'32OZ', CAST(37000.00 AS Decimal(10, 2)), N'https://api-website.cinestar.com.vn/media/.thumbswysiwyg/pictures/HinhQuayconnew/fanta.jpg?rand=1719572506', 1)
SET IDENTITY_INSERT [dbo].[Combos] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FullName], [Email], [PasswordHash], [Phone], [BirthDate], [Gender], [CreatedAt], [LastLogin], [Address], [AvatarUrl], [City], [Region]) VALUES (1, N'Bang Thanh Nguyen Thi', N'nguyenthibangthanh2109@gmail.com', N'12345', N'0923209113', CAST(N'2025-09-26' AS Date), N'Nữ', CAST(N'2025-09-26T21:29:43.633' AS DateTime), CAST(N'2025-10-21T16:52:09.130' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Email], [PasswordHash], [Phone], [BirthDate], [Gender], [CreatedAt], [LastLogin], [Address], [AvatarUrl], [City], [Region]) VALUES (2, N'Nguyen', N'nguyenthibangthanh@gmail.com', N'2345678', N'0923209113', CAST(N'2025-11-18' AS Date), N'Nữ', CAST(N'2025-11-18T15:53:11.300' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([GenreId], [Name], [Description]) VALUES (3, N'Kinh dị', N'Cấm trẻ em dưới 18 tuổi')
INSERT [dbo].[Genres] ([GenreId], [Name], [Description]) VALUES (4, N'Hồi Hộp, Hành Động', N'Hồi Hộp, Hành Động')
INSERT [dbo].[Genres] ([GenreId], [Name], [Description]) VALUES (5, N'Anime', N'Nhật Bản')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
INSERT [dbo].[MovieGenres] ([MovieId], [GenreId]) VALUES (3, 4)
INSERT [dbo].[MovieGenres] ([MovieId], [GenreId]) VALUES (8, 6)
INSERT [dbo].[MovieGenres] ([MovieId], [GenreId]) VALUES (9, 3)
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderCombos] ON 

INSERT [dbo].[OrderCombos] ([OrderComboId], [OrderId], [ComboId], [Quantity], [UnitPrice]) VALUES (1, 11, 3, 10, CAST(37000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderCombos] ([OrderComboId], [OrderId], [ComboId], [Quantity], [UnitPrice]) VALUES (2, 11, 7, 10, CAST(20000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderCombos] ([OrderComboId], [OrderId], [ComboId], [Quantity], [UnitPrice]) VALUES (3, 12, 7, 2, CAST(20000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderCombos] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [CustomerId], [Status], [PaymentMethod], [TotalAmount], [CreatedAt], [PaidAt], [TicketTotal], [ComboTotal]) VALUES (2, 1, N'Đang chờ thanh toán', NULL, CAST(98000.00 AS Decimal(12, 2)), CAST(N'2025-10-22T12:00:16.723' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [Status], [PaymentMethod], [TotalAmount], [CreatedAt], [PaidAt], [TicketTotal], [ComboTotal]) VALUES (3, 1, N'Đang chờ thanh toán', N'Chuyển khoản', CAST(98000.00 AS Decimal(12, 2)), CAST(N'2025-10-22T12:15:44.290' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [Status], [PaymentMethod], [TotalAmount], [CreatedAt], [PaidAt], [TicketTotal], [ComboTotal]) VALUES (4, 1, N'Đang chờ thanh toán', N'Chuyển khoản', CAST(98000.00 AS Decimal(12, 2)), CAST(N'2025-10-22T12:18:32.390' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Popups] ON 

INSERT [dbo].[Popups] ([Id], [Title], [Description], [ImageUrl], [ButtonLink], [IsActive], [StartDate], [EndDate]) VALUES (4, N'Giảm giá 50% cuối tuần', N'Ưu đãi cho khách đặt vé thứ 7 & Chủ Nhật', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH8CthTXmcylXPUcqhMfmW8Sof_lvNVU4YKg&s', N'/Home/Schedule', 1, CAST(N'2026-03-06T00:00:00.000' AS DateTime), CAST(N'2026-03-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Popups] OFF
GO
SET IDENTITY_INSERT [dbo].[Seats] ON 

INSERT [dbo].[Seats] ([SeatId], [AuditoriumId], [RowLabel], [SeatNumber], [SeatType], [IsActive]) VALUES (1, NULL, N'A', 1, N'Thường', 1)
INSERT [dbo].[Seats] ([SeatId], [AuditoriumId], [RowLabel], [SeatNumber], [SeatType], [IsActive]) VALUES (2, 2, N'A', 1, N'Thường', 1)
INSERT [dbo].[Seats] ([SeatId], [AuditoriumId], [RowLabel], [SeatNumber], [SeatType], [IsActive]) VALUES (3, 2, N'A', 2, N'Thường', 1)
GO
SET IDENTITY_INSERT [dbo].[Seats] OFF
GO
SET IDENTITY_INSERT [dbo].[Showtimes] ON 

INSERT [dbo].[Showtimes] ([ShowtimeId], [MovieId], [AuditoriumId], [StartTime], [EndTime], [BasePrice], [Language], [IsActive]) VALUES (2009, 3010, 3, CAST(N'2025-11-25T08:15:00.000' AS DateTime), CAST(N'2025-12-25T10:15:00.000' AS DateTime), CAST(90000.00 AS Decimal(10, 2)), N'Tiếng Việt', 0)
INSERT [dbo].[Showtimes] ([ShowtimeId], [MovieId], [AuditoriumId], [StartTime], [EndTime], [BasePrice], [Language], [IsActive]) VALUES (2010, 3010, 2, CAST(N'2025-12-25T10:30:00.000' AS DateTime), CAST(N'2025-11-25T12:30:00.000' AS DateTime), CAST(90000.00 AS Decimal(10, 2)), N'Tiếng Việt', 0)
INSERT [dbo].[Showtimes] ([ShowtimeId], [MovieId], [AuditoriumId], [StartTime], [EndTime], [BasePrice], [Language], [IsActive]) VALUES (2011, 3010, 4, CAST(N'2025-12-02T12:45:00.000' AS DateTime), CAST(N'2025-12-02T14:45:00.000' AS DateTime), CAST(90000.00 AS Decimal(10, 2)), N'Tiếng Việt', 1)
SET IDENTITY_INSERT [dbo].[Showtimes] OFF
GO
SET IDENTITY_INSERT [dbo].[Theaters] ON 

INSERT [dbo].[Theaters] ([TheaterId], [Name], [Address], [Phone], [GoogleMapUrl], [CreatedAt], [IsActive]) VALUES (2, N'CineZone', N'806 Lê Quang Đạo, Trung Mỹ Tây, Quận 12, Hồ Chí Minh, Việt Nam', N'0987654321', N'https://maps.app.goo.gl/qYrXNjwH3mvSJAtt6', NULL, 1)
INSERT [dbo].[Theaters] ([TheaterId], [Name], [Address], [Phone], [GoogleMapUrl], [CreatedAt], [IsActive]) VALUES (3, N'CineZone Quận 6', N'1466 Võ Văn Kiệt, Phường 1, Quận 6, Thành phố Hồ Chí Minh 700000, Việt Nam', N'0987654321', N'https://maps.app.goo.gl/HMgqjvMPS1PjbovC6', CAST(N'2025-10-21T16:54:08.760' AS DateTime), 1)
INSERT [dbo].[Theaters] ([TheaterId], [Name], [Address], [Phone], [GoogleMapUrl], [CreatedAt], [IsActive]) VALUES (1003, N'CineZone Sư Vạn Hạnh', N'828 Sư Vạn Hạnh, Phường Hòa Hưng, Quận 10, Thành phố Hồ Chí Minh, Việt Nam', N'02838632052', N'https://maps.app.goo.gl/vd8EPLA5CWCURrUH7', CAST(N'2025-11-11T16:04:37.187' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Theaters] OFF
GO
INSERT [dbo].[TicketCombos] ([TicketId], [OrderComboId], [Quantity]) VALUES (3072, 3004, 5)
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketId], [ShowtimeId], [SeatId], [CustomerId], [Price], [Status], [BookedAt], [PaymentStatus], [OrderId]) VALUES (3027, 2018, 1, 1, CAST(90000.00 AS Decimal(10, 2)), N'Đã đặt', CAST(N'2025-11-25T07:08:26.297' AS DateTime), N'Chờ thanh toán', 3014)
INSERT [dbo].[Tickets] ([TicketId], [ShowtimeId], [SeatId], [CustomerId], [Price], [Status], [BookedAt], [PaymentStatus], [OrderId]) VALUES (3028, 2018, 3, 1, CAST(90000.00 AS Decimal(10, 2)), N'Đã đặt', CAST(N'2025-11-25T07:08:26.343' AS DateTime), N'Chờ thanh toán', 3014)
INSERT [dbo].[Tickets] ([TicketId], [ShowtimeId], [SeatId], [CustomerId], [Price], [Status], [BookedAt], [PaymentStatus], [OrderId]) VALUES (3029, 2018, 1, 1, CAST(90000.00 AS Decimal(10, 2)), N'Đã đặt', CAST(N'2025-11-25T07:17:09.590' AS DateTime), N'Chờ thanh toán', 3015)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__A9D10534147CE3A1]    Script Date: 17/03/2026 13:33:35 ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D10534C763062F]    Script Date: 17/03/2026 13:33:35 ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Auditoriums] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Combos] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Popups] ADD  CONSTRAINT [DF_Popups_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Showtimes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Theaters] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [BookedAt]
GO
ALTER TABLE [dbo].[Auditoriums]  WITH CHECK ADD FOREIGN KEY([TheaterId])
REFERENCES [dbo].[Theaters] ([TheaterId])
GO
ALTER TABLE [dbo].[Auditoriums]  WITH CHECK ADD FOREIGN KEY([TheaterId])
REFERENCES [dbo].[Theaters] ([TheaterId])
GO
ALTER TABLE [dbo].[ComboShowtimes]  WITH CHECK ADD FOREIGN KEY([ComboId])
REFERENCES [dbo].[Combos] ([ComboId])
GO
ALTER TABLE [dbo].[ComboShowtimes]  WITH CHECK ADD FOREIGN KEY([ComboId])
REFERENCES [dbo].[Combos] ([ComboId])
GO
ALTER TABLE [dbo].[ComboShowtimes]  WITH CHECK ADD FOREIGN KEY([ShowtimeId])
REFERENCES [dbo].[Showtimes] ([ShowtimeId])
GO
ALTER TABLE [dbo].[ComboShowtimes]  WITH CHECK ADD FOREIGN KEY([ShowtimeId])
REFERENCES [dbo].[Showtimes] ([ShowtimeId])
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([GenreId])
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([GenreId])
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[OrderCombos]  WITH CHECK ADD FOREIGN KEY([ComboId])
REFERENCES [dbo].[Combos] ([ComboId])
GO
ALTER TABLE [dbo].[OrderCombos]  WITH CHECK ADD FOREIGN KEY([ComboId])
REFERENCES [dbo].[Combos] ([ComboId])
GO
ALTER TABLE [dbo].[OrderCombos]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderCombos]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([AuditoriumId])
REFERENCES [dbo].[Auditoriums] ([AuditoriumId])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([AuditoriumId])
REFERENCES [dbo].[Auditoriums] ([AuditoriumId])
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD FOREIGN KEY([AuditoriumId])
REFERENCES [dbo].[Auditoriums] ([AuditoriumId])
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD FOREIGN KEY([AuditoriumId])
REFERENCES [dbo].[Auditoriums] ([AuditoriumId])
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[TicketCombos]  WITH CHECK ADD FOREIGN KEY([OrderComboId])
REFERENCES [dbo].[OrderCombos] ([OrderComboId])
GO
ALTER TABLE [dbo].[TicketCombos]  WITH CHECK ADD FOREIGN KEY([OrderComboId])
REFERENCES [dbo].[OrderCombos] ([OrderComboId])
GO
ALTER TABLE [dbo].[TicketCombos]  WITH CHECK ADD FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
GO
ALTER TABLE [dbo].[TicketCombos]  WITH CHECK ADD FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seats] ([SeatId])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seats] ([SeatId])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([ShowtimeId])
REFERENCES [dbo].[Showtimes] ([ShowtimeId])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([ShowtimeId])
REFERENCES [dbo].[Showtimes] ([ShowtimeId])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Orders]
GO
