@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard-home">

    <h1>Xin chào, @ViewBag.Name 👋</h1>

    <p>
        Chào mừng bạn đến hệ thống quản trị CineZone
    </p>

    <hr />

    @await Component.InvokeAsync("RevenueDashboard")

</div>